
footer {
  height: 500px;
  width: 100%;
  padding: 50px;
  background-color: #bdc3c7;
  text-align: center;
}

footer h3 {
  color: #333;
  margin-bottom: 10px;
}

footer p {
  color: #ecf0f1;
}

footer a:hover {
  color: #333;
}
